.padre{
	border: 4px solid black;
	width: 600px;
}
.clearfix{
	overflow: auto;
}
.uno{
	background-color: #F7FE2E;
	float: left;
	width: 25%;
	height: 100px;
}
.dos{
	background-color: #5882FA;
	float: left;
	width: 25%;
	height: 100px;
}
.tres{
	background-color: #DF013A;
	float: left;
	width: 25%;
	height: 100px;
}